body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3, div{
    text-align: center;
}

table#game{
    margin: auto;
}

table#game td{
    border: 3px solid;
    border-radius: 15px;
    border-color: saddlebrown;
    background-color: beige;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
}

div button{
    padding: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
}